@page "/"
@inject DigiServicios DigiServicios

<h1>API de Digimon</h1>

<h3>Se escogio la API de digimon debido a que esta es amplia por si misma y cuenta con un total de 1460 Digimones.</h3>
<div></div>
<h2><a target="_blank" href="https://digi-api.com/#docs" class="btn btn-secondary">Ver Documentación</a></h2>
<div></div>
<h3>Como ejemplo, se usara el Digimon de ID 1, Agumon</h3>

<h3>Cosas a notar, estos tienen datos como su nivel de evolucion, tipo, raza y locaciones, todo esto anclado a una ID para reconocimiento de este</h3>
<h3>Tambien tienen cosas como descripcion y fecha de creacion.</h3>

<h3>A pesar de esto, se va a usar una API mucho mas simplificada, con nombre, ID, referencia y imagen.</h3>

<h2><a target="_blank" href="https://digi-api.com/api/v1/digimon" class="btn btn-secondary">Ver API</a></h2>

<PageTitle>Bases</PageTitle>


